/*
	2_4.html �� css �ۼ�
*/

.wrap{
	padding: 0;
	width: 1110px;
	background-color: lightgray;
	margin: 0 auto;
}

header, footer{
	background-color: lightsalmon;
	overflow: hidden;
	text-align: center;
}

nav{
	background-color: lightgreen;
	text-align: center;
}

aside{
	background-color: lightblue;
	width: 23%;
}

section{
	width: 48%;
	background-color: mistyrose;
}

article{
	background-color: lightsalmon;
	height: 500px;
}

aside, section{
	float: left;
	height: 700px;
	padding: 1%;
}

footer{
	/* left, right, both*/
	clear: left;
}